.Loader {
  svg {
    width: 100%;
    max-width: 80px;
    height: auto;

    :global(.loader-first-square) {
      animation: loader_first_square_animation 2400ms linear infinite normal forwards
    }

    :global(.loader-second-square) {
      animation: loader_second_square_animation 2400ms linear infinite normal forwards
    }

    :global(.loader-third-square) {
      animation: loader_third_square_animation 2400ms linear infinite normal forwards
    }

    @keyframes loader_first_square_animation {
      0% {
        transform: translate(-0px, 0.045561px)
      }

      16.666667% {
        transform: translate(-0px, 0.045561px)
      }

      25% {
        transform: translate(0.100000px, 51.270000px)
      }

      41.666667% {
        transform: translate(0.100000px, 51.270000px)
      }

      50% {
        transform: translate(43.608471px, 27.113231px)
      }

      66.666667% {
        transform: translate(43.608471px, 27.113231px)
      }

      75% {
        transform: translate(43.760612px, -24.310533px)
      }

      91.666667% {
        transform: translate(43.760612px, -24.310533px)
      }

      100% {
        transform: translate(-0.010157px, 0.067936px)
      }
    }

    @keyframes loader_second_square_animation {
      0% {
        transform: translate(0.100000px, 0.176454px)
      }

      8.333333% {
        transform: translate(0.100000px, 0.176454px)
      }

      16.666667% {
        transform: translate(44.181884px, -24.450981px)
      }

      33.333333% {
        transform: translate(44.181884px, -24.450981px)
      }

      41.666667% {
        transform: translate(43.508471px, -75.405865px)
      }

      58.333333% {
        transform: translate(43.508471px, -75.405865px)
      }

      66.666667% {
        transform: translate(0.100000px, -51.270000px)
      }

      83.333333% {
        transform: translate(0.100000px, -51.270000px)
      }

      91.666667% {
        transform: translate(-0.010157px, 0.054702px)
      }

      100% {
        transform: translate(-0.010157px, 0.054702px)
      }
    }

    @keyframes loader_third_square_animation {
      0% {
        transform: translate(0.006884px, 0.169019px)
      }

      8.333333% {
        transform: translate(0.006884px, -50.708481px)
      }

      25% {
        transform: translate(0.006884px, -50.708481px)
      }

      33.333333% {
        transform: translate(-44.075000px, -27px)
      }

      50% {
        transform: translate(-44.075000px, -27px)
      }

      58.333333% {
        transform: translate(-44.075000px, 24.939739px)
      }

      75% {
        transform: translate(-44.075000px, 24.939739px)
      }

      83.333333% {
        transform: translate(-0.029388px, 0.169019px)
      }

      100% {
        transform: translate(-0.029388px, 0.169019px)
      }
    }
  }
}
