.FilledIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
  color: #ffffff;
  fill: #ffffff;
  background-color: #0077b5;
}
