.SemiCircleProgressBar {
  width: 40px;
  height: 40px;
  position: relative;

  .SemiCircleProgressBarPath {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
    stroke: #0377a5;
    transform: rotate(135deg);
    transform-origin: center;
  }

  .SemiCircleProgressBarTrail {
    stroke-linecap: round;
    stroke: #d8d8d8;
    transform: rotate(135deg);
    transform-origin: center;
  }

  .SemiCircleProgressBarText {
    color: #6c6c6c;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translate(-50%, -50%);
  }
}

.Payment {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;

  > div:first-child {
    flex: 1;
  }

  .PaymentMethod {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset -3px -3px 6px #ffffffdb, inset 3px 3px 6px #00000029;
    align-items: center;

    .Title {
      color: #464646;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  }
}
