.PrintFolderForm {
  flex: 1;
  display: flex;
  flex-direction: column;

  .Step1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    > div:not(.Separator) {
      flex: 1;
      max-width: 350px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        max-width: unset;
        width: 100%;
      }

      > * {
        width: 100%;
      }

      .Title {
        color: #464646;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
      }

      > div:last-child {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        > * {
          width: 100%;
        }

        .UploadedFileList {
          display: flex;
          flex-direction: column;

          &:empty {
            display: none;
          }

          > div {
            display: flex;
            flex-direction: row;
            align-items: center;

            > div:first-child {
              flex: 1;
            }

            .DeleteIcon {
              display: flex;
              padding: 5px;
              cursor: pointer;
              fill: #f20f4b;
            }
          }
        }

        .PaperCount {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;

          > div:first-child {
            flex: 1;

            > div {
              max-width: 150px;
            }
          }

          > div:last-child {
            font-size: 12px;
            color: #5d5d5d;
          }
        }
      }
    }

    > .Separator {
      background-color: #cccccc;
      width: 1px;

      @media (max-width: 768px) {
        width: 100%;
        height: 1px;
      }
    }
  }

  .Step2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .CheckBoxWithLabel {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

    > .CopiesCount {
      max-width: 300px;
    }

    > .Separator {
      background-color: #cccccc;
      height: 1px;
    }
  }
}
