.AddressList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .Address {
    background-color: #f5f5f5;
    padding: 15px;
    color: #9c9c9c;

    .Header {
      display: flex;
      flex-direction: row;
      gap: 15px;

      .Label {
        color: #464646;
        font-weight: 500; // Medium
      }

      .Spacer {
        flex: 1;
      }

      .Actions {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .EditButton,
        .DeleteButton {
          display: flex;
          background-color: transparent;
          border: none;
          padding: 5px;
          margin: 0;
          cursor: pointer;
        }
  
        .EditButton {
          fill: #9c9c9c;
        }
  
        .DeleteButton {
          fill: #f20f4b;
        }
      }
    }
  }
}
