.DialogContent {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
  align-items: center;

  > div {
    &.Label {
      color: #9c9c9c;
    }

    &.Input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > div:first-child {
        max-width: unset;
      }
    }
  }
}
