.Select {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 40px;
  padding: 0 15px;
  align-items: center;
  border-radius: 20px;
  color: #000000;
  background-color: #f5f5f5;
  box-shadow: inset -3px -3px 6px #ffffffdb, inset 3px 3px 6px #00000029;

  .Spacer {
    flex: 1;
  }

  .ExpandMore {
    fill: #2578fa;
  }

  &::placeholder {
    color: #cccccc;
  }
}

.Dropdown {
  box-sizing: border-box;
  padding: 20px;
  background-color: #efeeee;
  border-radius: 20px;
  box-shadow: -3px -3px 6px rgb(255 255 255 / 86%), 3px 3px 6px rgb(0 0 0 / 16%);
}
