.Header {
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  height: 94px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;

  .Start {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    @media (max-width: 512px) {
      display: none;
    }

    .Logo {
      display: inline-flex;

      > svg {
        width: auto;
        height: 54px;

        @media (max-width: 640px) {
          height: 40px;
        }
      }
    }
  }

  .Center {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 1200px) {
      display: none;
    }

    .NavLinks {
      display: flex;
      flex-direction: row;
      gap: 5px;

      @media (max-width: 640px) {
        flex-direction: column;
        width: 100%;
      }

      > a {
        display: flex;
        height: 40px;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding: 0 20px;
        border-radius: 20px;
        text-decoration: none;
        color: #464646;
        fill: #464646;
        white-space: nowrap;
        font-size: 18px;

        &:global(.active) {
          color: #0077b5;
          fill: #0077b5;
          box-shadow: inset -3px -3px 6px #ffffffdb, inset 3px 3px 6px #00000029;
        }
      }
    }
  }

  .End {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 512px) {
      justify-content: flex-start;
    }

    .UserAuth {
      @media (max-width: 512px) {
        display: none;
      }

      button {
        white-space: nowrap;

        &:first-child {
          color: #5800b3;
          fill: #5800b3;
          padding: 0;
          font-size: 18px;

          > svg {
            width: 30px;
            height: 30px;
          }
        }

        &:last-child {
          background-color: #5800b3;
          padding: 0 35px;
          font-size: 18px;
        }
      }
    }

    .UserAuthMobile {
      @media (min-width: 513px) {
        display: none;
      }

      .LoginButton {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        > button {
          border-radius: 27px;
          box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;

          > svg {
            fill: #5d5d5d;
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    .User {
      width: 220px;
      display: grid;
      grid-template-columns: 48px 1fr;

      @media (max-width: 512px) {
        display: none;
      }

      .Avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #5800b3;

        > svg {
          width: 30px;
          height: 30px;
        }
      }

      .MenuContainer {
        position: relative;
        height: 44px;

        .Menu {
          position: absolute;
          z-index: 5;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 20px;
          overflow: hidden;

          &:not([data-is-open="true"]) {
            height: 44px;
            overflow: hidden;
          }

          &[data-is-open="true"] {
            > button {
              > svg {
                transform: rotate(180deg);
              }
            }
          }

          > button {
            background: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            text-align: start;
            color: #ffffff;
            fill: #ffffff;
            background: #5800b3;
            max-width: 100%;
            height: 44px;
            min-height: 44px;
            padding: 0 10px;
            user-select: none;
            cursor: pointer;

            &:hover {
              background: #5800b3b3;
            }

            &:first-child {
              font-size: 18px;
            }

            > span {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .UserMobile {
      display: flex;
      flex-direction: row;
      gap: 10px;
      cursor: pointer;
      user-select: none;

      @media (min-width: 513px) {
        display: none;
      }

      .Meta {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #464646;
        flex: 1;

        .PhoneNumber {
          font-size: 10px;
          font-weight: 300; // Light
        }

        .Name {
          font-weight: bold;
        }
      }
    }
  }
}
