.CopyableText {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
  border-radius: 20px;
  padding: 0 5px;

  .Text {
    color: #7d00ff;
    padding: 0 10px;
  }

  .Separator {
    background-color: #cccccc;
    height: 25px;
    width: 1px;
  }

  .CopyIcon {
    padding: 0 10px;
    fill: #5d5d5d;
    cursor: pointer;
  }
}
