.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1360px;
  margin: 0 auto;
  
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    > h1 {
      margin: 0;
      text-align: center;
      color: #5800b3;
    }
  }

  > div:first-child {
    > div {
      width: 100%;
      max-width: 400px;
      border: 1px solid #cccccc;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > * {
        width: 100%;
      }

      .Row {
        display: flex;
        flex-direction: row;
        gap: 20px;

        > div:first-child {
          width: 150px;
        }
  
        > div:last-child {
          width: 100%;
          padding: 0 10px;
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          justify-content: flex-end;
        }
      }

      .Bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }

  > div:last-child {
    > div {
      width: 100%;
      max-width: 400px;

      > div:first-child {
        margin-bottom: 20px;

        > div > button {
          flex: 1;
        }
      }

      > div:last-child {
        margin-top: 10px;
        border-top: 1px solid #cccccc;
        color: #464646;
      }
    }
  }
}