.Footer {
  color: white;
  fill: white;
  background: linear-gradient(#7d00ff 0%, #5800b3 100%);
  border-radius: 1000px / 128px 128px 0px 0px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
    max-width: 1360px;
    box-sizing: border-box;
    padding: 5px 140px;

    @media (max-width: 1024px) {
      padding: 5px 100px;
    }

    @media (max-width: 960px) {
      padding: 5px 70px;
    }

    @media (max-width: 896px) {
      padding: 5px 30px;
    }
  }

  .LogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    margin-bottom: 10px;

    .Logo {
      width: 160px;
      height: 160px;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: #eeeeee;
      box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;

      > img {
        width: 100px;
        height: auto;
      }
    }
  }

  .FooterContent {
    display: grid;
    grid-template-columns: auto 1fr 1fr 350px 1fr 1fr auto;
    gap: 10px;
    margin-top: -50px;
    max-width: 1380px;

    @media (min-width: 1301px) {
      padding: 5px 130px;
    }

    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
      margin-top: 0;
    }

    .Symbol {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      margin-bottom: -15px;

      @media (max-width: 1300px) {
        margin-bottom: 0;
      }

      &:first-child {
        @media (min-width: 1301px) {
          margin-right: -120px;
        }

        @media (max-width: 1300px) {
          justify-content: flex-end;
        }
      }

      &:last-child {
        @media (min-width: 1301px) {
          margin-left: -120px;
        }

        @media (max-width: 1300px) {
          justify-content: flex-start;
        }
      }

      > img {
        width: 120px;
        height: auto;
      }

      @media (max-width: 1300px) {
        grid-row: 3;
      }
    }

    .Guide,
    .ContactUs,
    .UsefulLinks {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 300; // Light

      @media (max-width: 640px) {
        font-size: 12px;
      }

      > h3 {
        margin: 0;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        font-size: 16px;
        font-weight: normal;

        @media (max-width: 640px) {
          font-size: 14px;
        }
      }

      > p {
        margin: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        > li {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;

          > svg {
            @media (max-width: 640px) {
              width: 20px;
              height: 20px;
            }
          }

          > a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .UsefulLinks {
      grid-column: span 2;

      > div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    }

    .UsefulLinks {
      grid-column: span 2;

      > div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    }

    .SocialMedia {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;

      @media (max-width: 1300px) {
        grid-row: 4;
        grid-column: span 2;
      }

      > h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: normal;

        @media (max-width: 640px) {
          font-size: 14px;
        }
      }

      .SocialMediaIcons {
        display: flex;
        flex-direction: row;
        gap: 10px;

        > a {
          display: flex;

          > svg {
            width: 25px;
            height: 25px;
            fill: white;
          }
        }
      }
    }
  }

  .Copyrights {
    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 15px auto 0;
      padding-top: 5px;
      border-top: 1px solid white;
    }
  }

  .BottomButtonsPlaceholder {
    padding: 10px 20px 20px;

    @media (min-width: 1201px) {
      display: none;
    }
  }
}
