.Container {
  flex: 1;
  display: flex;
  flex-direction: column;

  .Mobile {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: 897px) {
      display: none;
    }

    .User {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;

      .Meta {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: #464646;
        flex: 1;

        .PhoneNumber {
          font-size: 10px;
          font-weight: 300; // Light
        }

        .Name {
          font-weight: bold;
        }
      }
    }

    .Welcome {
      font-size: 16px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .NonMobile {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 896px) {
      display: none;
    }

    .TitleContainer {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 896px) {
        display: none;
      }

      .Title {
        flex: 1;
        margin: 0;
        color: #5e5e5e;
        font-size: 32px;
        font-weight: bold;
      }

      .BackToSiteButton {
        display: flex;
        height: 40px;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding: 0 8px;
        border-radius: 20px;
        color: #5e5e5e;
        text-decoration: none;
        box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
      }
    }

    .ContentContainer {
      margin-top: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;

      > div:first-child {
        display: flex;
        flex-direction: row;
        gap: 15px;

        > div {
          flex: 1;
          box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
          border-radius: 20px;
          padding: 10px 25px 25px;

          &:first-child {
            position: relative;
            overflow: hidden;

            .WelcomeUser {
              color: #464646;
              font-size: 28px;
              font-weight: 500; // Medium
            }

            .DashboardDescription {
              color: #464646;
            }

            .Printing {
              position: absolute;
              bottom: 0;
              left: -15px;
              z-index: -1;

              > svg {
                width: auto;
                height: 220px;
              }
            }
          }

          &:last-child {
            .PricesPrintPaperSizeButtons {
              display: flex;
              flex-direction: row;
              gap: 5px;

              > button {
                display: flex;
                height: 36px;
                width: 36px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                color: #5e5e5e;
                fill: #5e5e5e;
                user-select: none;
                background: transparent;
                border: none;
                padding: 0;

                &.Current {
                  color: #0077b5;
                  fill: #0077b5;
                  box-shadow: inset -3px -3px 6px #ffffffdb,
                    inset 3px 3px 6px #00000029;
                }

                &:not(.Current) {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      > div:last-child {
        flex: 1;
        box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
        border-radius: 20px;
        padding: 10px 25px 25px;
      }
    }
  }
}
