.BottomActions {
  margin-top: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .End {
    flex: 1;

    > div {
      flex: 1;
      justify-content: flex-end;
    }
  }
}
