.Container {
  > svg {
    width: 100%;
    height: auto;

    path {
      transition: fill 0.2s;
      stroke: #000;
      fill: #ddd;
      stroke-width: 1px;
      stroke-linejoin: round;
      cursor: pointer;

      &:hover {
        fill: #4f46e5;
      }
    }
  }

  .Tooltip {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -100%);

    > div {
      background: #ffffff;
      border: 1px solid #9c9c9c;
      padding: 10px;
      width: 180px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 10px;

      > div:first-child {
        color: #5e5e5e;
      }

      > div:not(:first-child) {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &:last-child {
          > div:first-child,
          > div:last-child {
            color: #0077b5;
          }
        }

        > div:first-child {
          flex: 1;
          color: #5e5e5e;
        }

        > div:last-child {
          color: #9c9c9c;
        }
      }
    }

    &::after {
      display: block;
      content: "";
      border-width: 6px;
      border-style: solid;
      border-color: transparent;
      border-bottom-width: 0;
      border-top-color: #9c9c9c;
    }
  }
}
