.PrintFolderForm {
  flex: 1;
  display: flex;
  flex-direction: column;

  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .Step1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    > div:first-child,
    > div:last-child {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      .Title {
        color: #464646;
        font-size: 18px;
        text-align: center;
        margin: 10px 0 30px;
      }

      .FilesSendMethod {
        display: flex;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -15px;
        margin-bottom: 25px;

        > div {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          cursor: pointer;
          user-select: none;
        }
      }

      .ManualUploadFiles {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .UploadedFileList {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &:empty {
            display: none;
          }

          .UploadedPrintFile {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #cccccc;
            border-radius: 10px;
            padding: 5px;

            > div:first-child {
              flex: 1;
              padding: 0 10px;
            }

            .DeleteIcon {
              > button {
                fill: #f20f4b;

                &:disabled {
                  fill: #cccccc;
                }
              }
            }
          }
        }

        .InUploadFileList {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &:empty {
            display: none;
          }

          .InUploadPrintFile {
            display: flex;
            flex-direction: column;
            border: 1px solid #cccccc;
            border-radius: 10px;
            padding: 5px;

            > div:first-child {
              display: flex;
              flex-direction: row;
              align-items: center;

              > div:first-child {
                flex: 1;
                padding: 0 10px;
              }

              .CencelIcon {
                fill: #f20f4b;
              }
            }

            > div:last-child {
              display: flex;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              padding: 5px 10px;

              > div:last-child {
                flex: 1;
              }
            }
          }
        }
      }

      .SocialMediaUploadFiles {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .FolderCode {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin: 10px 0;

          > div:first-child {
            font-size: 16px;
            color: #9c9c9c;
          }

          > div:last-child {
            width: 210px;
            height: 55px;
            position: relative;

            > svg {
              position: absolute;
              z-index: -1;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }

            > div {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              padding: 10px;
              display: flex;
              flex-direction: row;
              gap: 5px;
              align-items: center;

              button:first-child {
                fill: #0077b5;
              }

              div:last-child {
                flex: 1;
                text-align: center;
                font-size: 20px;
                font-weight: 500; // Medium
              }
            }
          }
        }

        .Note {
          font-size: 16px;
          color: #464646;
          text-align: center;

          @media (max-width: 768px) {
            font-size: 13px;
          }
        }

        .Accounts {
          display: flex;
          flex-direction: row;
          gap: 20px;
          flex-wrap: wrap;
          justify-content: center;

          > div {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            width: 180px;
            height: 36px;
            border-radius: 18px;
            box-sizing: border-box;
            padding: 8px;
            color: #ffffff;
            fill: #ffffff;
            box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;

            @media (max-width: 448px) {
              width: 100%;
              flex-direction: row-reverse;
            }

            > svg {
              width: 20px;
              height: 20px;
            }

            > div {
              flex: 1;
              text-align: center;
              font-size: 16px;
              font-weight: 300; // Light
            }

            &.TelegramAccount {
              background-color: #2578fa;
            }

            &.EitaaAccount {
              background-color: #ef7c00;
            }
          }
        }
      }

      .FolderProperties {
        display: flex;
        flex-direction: column;
        gap: 20px;

        > div {
          display: flex;
          flex-direction: column;
          gap: 10px;

          > div:first-child {
            max-width: unset;
          }
        }

        .PaperCount {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;

          > div:first-child {
            flex: 1;

            > div {
              max-width: 150px;
            }
          }

          > div:last-child {
            font-size: 12px;
            color: #5d5d5d;
          }
        }
      }
    }

    > .Separator {
      background-color: #cccccc;
      width: 3px;

      @media (max-width: 768px) {
        width: 100%;
        height: 1px;
      }
    }
  }

  .Step2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .CheckBoxWithLabel {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      color: #464646;
    }

    .BindingOtions {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        gap: 10px;
      }

      > div {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .Label {
          width: 100%;
          max-width: 150px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .RadioList {
          flex: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 40px;
          row-gap: 0;
          align-items: center;

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: unset;
          }

          > div {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            height: 40px;
            color: #464646;

            .Spacer {
              width: 5px;
            }

            .NumberOfFiles {
              width: 100px;
            }
          }
        }

        .MobileSpacer {
          @media (max-width: 768px) {
            height: 10px;
          }
        }
      }
    }

    .CopiesCount {
      > div {
        max-width: 200px;
      }
    }

    > .Separator {
      background-color: #cccccc;
      height: 1px;
    }
  }

  > div:first-child {
    display: flex;
    flex-direction: column;

    > div {
      @media (max-width: 768px) {
        display: flex !important;

        &:first-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #cccccc;
          margin-bottom: 20px;
        }
      }
    }
  }

  .StepBottomActionsContainer {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .MobileBottomActions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

    @media (min-width: 769px) {
      display: none;
    }
  }

  .PrintPriceView {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0077b5;
    font-size: 18px;
    font-weight: 500; // Medium
  }
}
