.Input {
  display: none;
}

.CheckBox {
  width: 16px;
  height: 16px;
  display: flex;
  box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
  border-radius: 2px;
  justify-content: center;
  align-items: center;

  > svg {
    width: 16px;
    height: 16px;
    fill: #2578fa;

    .Input:not(:checked) + & {
      display: none;
    }
  }
}
