.OrderDetails {
  color: #464646;
  font-size: 12px;
  word-break: break-word;
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse;

  @media screen and (max-width: 896px) {
    display: flex;
    flex-direction: column;
  }

  tbody {
    tr {
      &:not(:first-child) {
        border-top: 1px solid #cccccc;
      }

      @media screen and (max-width: 896px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &:first-child {
          td:nth-child(2) {
            border-right-width: 0;
            border-top: 1px solid #cccccc;
          }
        }
      }

      td {
        padding: 0;
        vertical-align: top;
        box-sizing: border-box;

        &:not(:first-child) {
          border-right: 1px solid #cccccc;
        }

        @media screen and (max-width: 896px) {
          display: flex;
          flex-direction: column;

          &:nth-child(3) {
            border-right-width: 0;
            border-top: 1px solid #cccccc;
          }

          &:nth-child(4) {
            border-top: 1px solid #cccccc;
          }
        }

        @media screen and (max-width: 512px) {
          &:nth-child(2) {
            border-right-width: 0;
            border-top: 1px solid #cccccc;
          }

          &:nth-child(4) {
            border-right-width: 0;
          }
        }

        &.Cell25 {
          width: 25%;

          @media screen and (max-width: 896px) {
            width: 50%;
          }

          @media screen and (max-width: 512px) {
            width: 100%;
          }
        }

        &.Cell50 {
          width: 50%;

          @media screen and (max-width: 896px) {
            width: 100%;
          }
        }

        &.Cell100 {
          width: 100%;
        }

        .Cell {
          display: flex;
          flex-direction: column;
          width: 100%;
          box-sizing: border-box;
          padding: 10px 15px;

          .Label {
            font-size: 11px;
            color: #9c9c9c;
          }

          .Summary {
            display: flex;
            flex-direction: column;

            > div {
              display: flex;
              flex-direction: row;
              gap: 20px;

              > div:first-child {
                min-width: max-content;
              }
            }
          }

          .Files {
            display: flex;
            flex-direction: column;

            > div {
              display: flex;
              flex-direction: row;
              gap: 20px;

              > div:first-child {
                min-width: max-content;
              }

              > div:last-child {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .Match {
                  color: #14cc9c;
                }

                .NotMatch {
                  color: #f20f4b;
                }
              }
            }
          }

          .Descriptions {
            display: flex;
            flex-direction: column;

            > div {
              display: flex;
              flex-direction: row;
              gap: 20px;

              > div:first-child {
                min-width: max-content;
              }
            }
          }

          .OrderDate {
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          .OrderAmount {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 30px;
            align-items: center;

            > div:first-child {
              flex: 1;
              min-width: max-content;
            }

            > div:last-child {
              min-width: max-content;
              color: #9c9c9c;
              font-size: 10px;
              display: flex;
              flex-direction: row;
              gap: 5px;
            }
          }

          .DiscountAmount {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 30px;
            align-items: center;

            > div:first-child {
              flex: 1;
              min-width: max-content;
            }

            > div:last-child {
              min-width: max-content;
              color: #9c9c9c;
              font-size: 10px;
              display: flex;
              flex-direction: row;
              gap: 5px;
            }
          }

          .PaymentMethod {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 30px;

            > div {
              flex: 1;
              min-width: max-content;
              display: flex;
              flex-direction: row;
              gap: 10px;
            }
          }

          .OrderStatus {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            &[data-status="canceled"] {
              color: #f20f4b;
            }

            &[data-status="pending"],
            &[data-status="preparing"] {
              color: #0077b5;
            }

            &[data-status="sent"] {
              color: #14cc9c;
            }

            > div:first-child {
              flex: 1;
            }
          }
        }

        &.PaymentMethodTd {
          background-color: #d9ebe6;
        }
      }
    }
  }
}
