.FormTable {
  td {
    padding: 10px 10px;

    &:first-child {
      display: inline-block;
      color: #9c9c9c;
      width: 100%;
      max-width: 180px;
    }

    &:nth-child(2) {
      & > * {
        width: 300px;
      }
    }
  }
}
