@import 'vazirmatn/Vazirmatn-font-face.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: Vazirmatn, sans-serif;
  background-color: #efeeee;
  
  input, textarea, button {
    font-family: Vazirmatn, sans-serif;
  }

  a {
    color: #0487d9;
  }
}
