@import "vazirmatn/Vazirmatn-font-face.css";
@import "@/shared/assets/scss/iransans.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: IRANSans, sans-serif;
  background-color: #eeeeee;

  input,
  textarea,
  button {
    font-family: IRANSans, sans-serif;
  }

  a {
    color: #0487d9;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  #raychatFrame {
    z-index: 500 !important;
  }

  #raychat_automessage_preview_container {
    z-index: 600 !important;
  }

  #raychatBtn {
    z-index: 700 !important;
  }
}
